a {
  text-decoration: none;
  color: #FFFFFF;
}

Body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  min-width: 300px;
  background-color: #ffffff;
}

header {
  font-family: "Shrikhand", sans-serif;
  font-size: 40px;
  padding-left: 10%;
  text-align: center;
  width: 90%;
  height: auto;
  margin: 20px;
  background-color: #ffffff;
}

.foot {
  background-color: #353535;
  color: #FFFFFF;
  padding: 20px;
}
.foot .title-foot {
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
  padding-bottom: 15px;
}
.foot .text-foot {
  display: flex;
  flex-flow: column wrap;
  align-items: none;
  justify-content: none;
  font-size: 15px;
  line-height: 25px;
}
.foot .suggest, .foot .Partner, .foot .oder {
  display: flex;
  flex-flow: row nowrap;
  align-items: none;
  justify-content: none;
}
.foot .suggest:hover, .foot .Partner:hover, .foot .oder:hover {
  transition: transform 800ms;
  transform: scale(1.02);
}
.foot .icon-foot {
  padding-top: 7px;
  padding-right: 7px;
  font-size: 12px;
}
.foot .fa-utensils {
  letter-spacing: 4px;
}

.loader {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100vh;
  inset: 0;
  opacity: 0.95;
  z-index: 2;
  animation: loader-dis 2.75s 1s forwards;
  transform-origin: top;
}
.loader .anim {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 1;
}
.loader .anim .span:nth-child(1) {
  animation-delay: 0s;
}
.loader .anim .span:nth-child(2) {
  animation-delay: 0.15s;
}
.loader .anim .span:nth-child(3) {
  animation-delay: 0.3s;
}
.loader .anim .span:nth-child(4) {
  animation-delay: 0.45s;
}
.loader .anim .span:nth-child(5) {
  animation-delay: 0.55s;
}
.loader .anim .span:nth-child(6) {
  animation-delay: 0.7s;
}
.loader .anim .span:nth-child(7) {
  animation-delay: 0.85s;
}
.loader .anim .span {
  position: relative;
  display: grid;
  place-items: center;
  font-size: 25px;
  border-radius: 30px 30px 10px 10px;
  height: 120px;
  width: 50px;
  text-shadow: 2px 2px 2px #353535;
  margin: 5px;
  color: #FFFFFF;
  font-weight: bold;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  animation: loader-in 2.4s 10ms linear infinite;
  filter: drop-shadow(4px 4px 10px rgba(147, 86, 220, 0.5));
}
.loader .anim .pts {
  padding-top: 40px;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
}

@keyframes loader-dis {
  0% {
    transform: translateZ(0);
    border-radius: 0 0 0% 0%;
    opacity: 0.95;
  }
  100% {
    transform: translateY(-1200px);
    border-radius: 0 0 100% 100%;
    opacity: 1;
  }
}
@keyframes loader-in {
  0% {
    box-shadow: 0px 10px 3px rgba(53, 53, 53, 0.5);
    opacity: 0.8;
    transform: scale(1) translateX(-30px);
    font-size: 30px;
  }
  50% {
    box-shadow: 7px 20px 40px rgba(53, 53, 53, 0.5);
    opacity: 1;
    transform: scale(1.4) translateX(0px);
    font-size: 35px;
  }
  100% {
    box-shadow: 0px 2px 3px rgba(53, 53, 53, 0.5);
    opacity: 0.5;
    transform: scale(1) translateX(30px);
    font-size: 30px;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes appar {
  100% {
    opacity: 1;
  }
}
@keyframes cercle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fire {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7 #FF79DA;
  }
  80% {
    color: #9356DC;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7 #FF79DA;
  }
}
main {
  background-color: #eaeaea;
}

.top {
  position: relative;
  margin-top: 0px;
  bottom: 60px;
  height: 20px;
}
.top .fa-arrow-left {
  position: relative;
  font-size: 18px;
  color: black;
  opacity: 0.8;
  font-weight: bold;
  right: 190px;
  top: 40px;
}

.menu {
  position: relative;
  border-radius: 40px 40px 0 0;
  background-color: #eaeaea;
  padding-left: 1px;
  height: auto;
  top: -35px;
}
.menu .title-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 30px 25px;
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}
.menu .title-menu .like::after {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color: black;
  opacity: 0.7;
}
.menu .title-menu .like:hover::after {
  transition: all 2s 4ms;
  font-weight: 900;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
}
.menu .title-menu- {
  width: 10%;
  text-transform: uppercase;
  opacity: 0.7;
  font-size: 20px;
  padding-bottom: 5px;
  padding-top: 20px;
  border-bottom: 3px solid;
  border-color: #99E2D0;
  margin-left: 25px;
}
.menu .module-cart-menu {
  padding: 10px 0px;
}
.menu .A {
  opacity: 0;
  animation: appar 5s 2s forwards;
}
.menu .B {
  opacity: 0;
  animation: appar 5s 2.5s forwards;
}
.menu .C {
  opacity: 0;
  animation: appar 5s 3s forwards;
}
.menu .cart-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  background-color: #f6f6f6;
  padding: 1px;
  border-radius: 25px;
  box-shadow: 5px 10px 15px #c5c5c5;
  margin-bottom: 20px;
  width: 93%;
  justify-content: space-between;
  height: 90px;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .cart-menu .alignText-cart-menu {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 20px;
  width: 85%;
}
.menu .cart-menu .cart-title-menu {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  line-height: 35px;
}
.menu .cart-menu .text-cart-menu {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .cart-menu .price-cart-menu {
  padding-right: 15px;
  padding-top: 30px;
  font-weight: bold;
}
.menu .cart-menu .check-menu {
  box-sizing: border-box;
  background-color: #99E2D0;
  height: 102%;
  margin-right: -6.5rem;
  width: 6rem;
  transition: margin-right 0.5s;
}
.menu .cart-menu .check-menu .fa-check-circle {
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  color: white;
}
.menu .cart-menu:hover .check-menu {
  margin-right: -0.5rem;
  height: 105%;
}
.menu .cart-menu:hover .check-menu .fa-check-circle {
  animation: rotate 1s forwards;
}
.menu .Command {
  text-align: center;
  padding: 30px 0px 90px 0px;
}
.menu .Command .button-Command {
  text-align: center;
  border-radius: 40px;
  padding: 20px 70px;
  font-size: 20px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-weight: 400;
  color: #FFFFFF;
  border: none;
  box-shadow: 4px 3px 5px #c5c5c5;
}
.menu .Command .button-Command:hover {
  transform: scale(1);
  background-color: #f9f9f9;
  box-shadow: 15px 10px 15px #c5c5c5;
  transition: all 400ms;
}

/*# sourceMappingURL=Menu1.css.map */
