a {
  text-decoration: none;
  color: #FFFFFF;
}

Body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #ffffff;
}

header {
  font-family: "Shrikhand", sans-serif;
  font-size: 40px;
  padding-left: 10%;
  text-align: center;
  width: 90%;
  height: auto;
  background-color: #ffffff;
}

.Location {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.7;
  border-top: 3px solid;
  border-color: #e1e1e1;
  background-color: #eaeaea;
  height: 55px;
  width: 100%;
}
.Location .fa-map-marker-alt {
  margin-right: 20px;
}

.Reserve {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: none;
  padding-top: 40px;
  height: 350px;
  background-color: #f6f6f6;
}
.Reserve .title-Reserve {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.Reserve .text-reserve {
  padding-top: 20px;
  text-align: center;
  opacity: 0.6;
}
.Reserve .button-Reserve {
  text-align: center;
  margin-top: 30px;
  border-radius: 40px;
  padding: 20px;
  font-size: 20px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-weight: 400;
  color: #FFFFFF;
  border: none;
  box-shadow: 4px 3px 5px #c5c5c5;
}

.functioning {
  width: 100%;
}
.functioning .title-functioning {
  padding: 30px;
  font-size: 25px;
  font-weight: bold;
}
.functioning .module-functioning {
  display: flex;
  flex-flow: column nowrap;
  align-items: none;
  justify-content: none;
  text-align: center;
  width: 100%;
}
.functioning .Cart-functioning, .functioning .Cart1-functioning, .functioning .Cart2-functioning {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  background-color: #f6f6f6;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 5px 10px 15px #c5c5c5;
  margin-bottom: 20px;
  width: 90%;
}
.functioning .cart-number {
  position: relative;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 40px 40px;
  width: 32px;
  padding: 3px;
  right: 35px;
}
.functioning .cart-icon {
  display: flex;
  flex-flow: none none;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 0px;
  color: black;
  opacity: 0.5;
}
.functioning .cart-text {
  display: flex;
  flex-flow: none none;
  align-items: center;
  justify-content: center;
  color: black;
  width: 100%;
}

.select {
  margin-top: 40px;
}
.select .title-select {
  padding: 30px;
  font-size: 25px;
  font-weight: bold;
}
.select .module-select {
  display: flex;
  flex-flow: column nowrap;
  align-items: none;
  justify-content: none;
  width: 100%;
}
.select .Cart1-select, .select .Cart2-select, .select .Cart3-select, .select .Cart4-select {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  background-color: #f6f6f6;
  padding: 0;
  border-radius: 25px;
  box-shadow: 5px 10px 15px #c5c5c5;
  margin-bottom: 20px;
  width: 90%;
}
.select .Cart1-img, .select .Cart2-img, .select .Cart3-img, .select .Cart4-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.select .news-select {
  position: relative;
  bottom: 130px;
  left: 70%;
  background-color: #99E2D0;
  padding: 7px 17px;
  border-radius: 3px;
  color: #008766;
  font-size: 12px;
  font-weight: bold;
}
.select .Cart-text-module {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  padding: 1px 20px;
  color: black;
}
.select .name-select {
  margin-top: 5px;
  width: 100%;
  font-weight: bold;
}
.select .desc-selct {
  opacity: 0.7;
  padding-top: 10px;
  font-size: 20px;
}
.select .select-icon {
  position: relative;
  color: black;
  opacity: 0.7;
  bottom: 50px;
  left: 40%;
  font-size: 30px;
}

.foot {
  background-color: #353535;
  color: #FFFFFF;
  padding: 20px;
}
.foot .title-foot {
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
  padding-bottom: 15px;
}
.foot .text-foot {
  display: flex;
  flex-flow: column wrap;
  align-items: none;
  justify-content: none;
  font-size: 15px;
  line-height: 25px;
}
.foot .suggest, .foot .Partner {
  display: flex;
  flex-flow: row nowrap;
  align-items: none;
  justify-content: none;
}
.foot .icon-foot {
  padding-right: 12px;
}
.foot .icon-foot-Partner {
  padding-right: 10px;
}

@media all and (min-width: 576px) {
  .Location {
    background-color: #353535;
  }

  .functioning .module-functioning {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .functioning .Cart-functioning, .functioning .Cart1-functioning, .functioning .Cart2-functioning {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    background-color: #f6f6f6;
    padding: 0px;
    border-radius: 25px;
    box-shadow: 5px 10px 15px #c5c5c5;
    margin-bottom: 20px;
    width: 30%;
  }
  .functioning .cart-number {
    width: 30px;
    padding: 3px;
    bottom: 10px;
    right: 0px;
  }
  .functioning .cart-icon {
    display: flex;
    flex-flow: none none;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 0px;
    color: black;
    opacity: 0.5;
    size: 20px;
  }
  .functioning .cart-text {
    display: flex;
    flex-flow: none none;
    align-items: center;
    justify-content: center;
    color: black;
    width: 50%;
  }
}
@media all and (min-width: 992px) {
  .Location {
    background-color: red;
  }
}

/*# sourceMappingURL=style.css.map */
