
@import '../Utils/_Utils.scss';

@import '../Utils/_Mixins';
a {
    text-decoration: none;
    color: $police;
}

Body {
    font-family: $Font-text;
    font-size: 20px;
    min-width: 300px;
    background-color: $background;
}
main {

    background-color: $background-grey;
}


.top {
    position: relative;
    font-family: $Font-logo;
    font-size: 40px;
    padding-left: 10%;
    text-align: center;    
    width: 90%;
    height: 46px;
    background-color: $background;
    padding-top: 0px;
    bottom: 45px;
    margin: 10px 0;
    .fa-arrow-left{
        position: relative;
        font-size: 18px;
        color: black;
        opacity: .6;
        font-weight: bold;
        right: 190px;
        top: 40px;
    }
}

.menu{
    position: relative;
    border-radius: 40px 40px 0 0 ;
    background-color: $background-grey;
    padding-left: 1px;
    height: auto;
    top: -35px;

    .title-menu{            
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        padding:30px 25px;
        font-family: $Font-logo;
        font-size: 30px;
        .like {
            @include Effect-heart(black,1.2s,linear-gradient(to top, $primary,$secondary));
        }
    }

    .title-menu-{
        width: 10%;
        text-transform: uppercase;
        opacity: .7;
        font-size: 20px;
        padding-bottom: 5px;
        padding-top: 20px;
        border: {
            bottom: 3px solid;
            color: $tertiary;
        }
        margin-left:  25px;
    }
    .module-cart-menu {
       padding: 10px 0px;
    }
    .A{
        opacity: 0;
        animation: appar 5s 2s forwards;
    }
    .B{
        opacity: 0;
        animation: appar 5s 2.5s forwards;
    }

    .C{
        opacity: 0;
        animation: appar 5s 3s forwards;
    }

    .cart-menu {
        @include Cart_Base(#{$background-greylight},row ,nowrap, 1px, 93%);
        justify-content: space-between;
        height: 90px;
        color:  black;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
        .alignText-cart-menu{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
           padding-left: 20px;
           width: 85%;
        }
        .cart-title-menu{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: bold;
            line-height: 35px;
        }
        .text-cart-menu{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .price-cart-menu{
            padding-right: 15px;
            padding-top: 30px;
 
        }
        .check-menu{
            box-sizing: border-box;
            background-color: $tertiary;
            height: 102%;
            margin-right: -6.5rem;
            width: 6rem;
            transition: margin-right 0.5s;
            .fa-check-circle{
                font-size: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: inherit;
                height: inherit;
                color: white;
            }
        }
        
        &:hover .check-menu {
            margin-right: -0.5rem;
            height: 105%;
              .fa-check-circle{
                animation: rotate 1s forwards;
            }
        }

    }

    
    .Command{
        text-align: center;
        padding: 40px 0px;
        
        .button-Command{
            text-align: center;
            border-radius: 40px;
            padding: 20px 70px;
            font-size: 20px;
            background: linear-gradient( to bottom , $secondary, $primary);
            font-weight: 400;
            color: $police;
            border: none;
            box-shadow: 4px 3px 5px $shadow-color;
            &:hover{
                @include Effect-btn($background-greylight, $shadow-color, 1);
            }
        }
    }
}

.foot{
    background-color: $background-greydark;
    color: $police;
    padding: 20px ;

    .title-foot{
       font-family: $Font-logo;
       font-size: 20px;
       padding-bottom: 15px;
    }

    .text-foot{
       @include flex (column,wrap,none,none);
       font-size: 15px;
       line-height: 25px;
       
    }
    .suggest ,.Partner{
         @include flex (row,nowrap,none,none);
           
   }
   .icon-foot{
           padding-right: 12px;
   }

   .icon-foot-Partner{

       padding-right: 10px;
   }
   
}


@media all and (min-width: map-get($breakpoints, mobile)) {



}
@media all and (min-width: map-get($breakpoints, desktop)) {

    .menu{

        // .module-cart-menu {
        //     display: flex;
        //     flex-flow: row wrap;
        //     padding: 10px 0px;
        //     width: 100%;
        //  }
        // .cart-menu{
        //     display: flex;
        //     flex-flow: row wrap;
        //     width: 35%;
        // }
    
    }


}