
@import '../Utils/_Utils.scss';

@import '../Utils/_Mixins.scss';

@import '../Utils/Generique.scss';
// media mobile
.loader{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100vh;
    inset: 0;
    opacity: .95;
    z-index: 2;
    animation: loader-dis 1s linear both;
    transform-origin: top;
    .anim{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        opacity: 1;
        .span:nth-child(1){
            animation-delay: 0s;
        }
        .span:nth-child(2){
            animation-delay: 0.15s;
        }
        .span:nth-child(3){
            animation-delay: 0.30s;
        }
        .span:nth-child(4){
            animation-delay: 0.45s;
        }
        .span:nth-child(5){
            animation-delay: 0.55s;
        }
        .span:nth-child(6){
            animation-delay: 0.70s;
        }
        .span:nth-child(7){
            animation-delay: 0.85s;
        }
        .span {
            position: relative;
            display: grid;
            place-items: center;
            font-size: 25px;
            border-radius: 30px 30px 10px 10px;
            height: 120px;
            width: 50px;
            text-shadow: 2px 2px 2px $greydark;
            margin: 5px;
            color: $police;
            font-weight: bold;
            background:linear-gradient( to bottom , $secondary, $primary);
            animation: loader-in 2s both;
            filter: drop-shadow(4px 4px 10px rgba($primary, 0.5));
        }
        .pts{
            padding-top: 40px;
            font-weight: bold;
            font-size: 20px;
            color: $police;
        }
    }
}
@keyframes loader-dis {
    0%{
        transform: translateZ(0);
        border-radius: 0 0 0% 0%;
        opacity: .95;
    }
    99%{
        transform: translateY(-1500px);
        border-radius: 0 0 100% 100%;
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }   
}
@keyframes loader-in {
    0%{
        box-shadow: 0px 10px 3px rgba($greydark, 0.5);
        opacity: 0.8;
        transform: scale(1) translateX(-30px);
        font-size: 30px;
    }
    50%{
        box-shadow: 7px 20px 40px rgba($greydark, 0.5);
        opacity: 1;
        transform: scale(1.4) translateX(0px);
        font-size: 35px;
    }
    100%{
        box-shadow: 0px 2px 3px rgba($greydark, 0.5);
        opacity: 0.5;
        transform: scale(1) translateX(30px);       
        font-size: 30px;
    }
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

@keyframes appar {
    100%{
        opacity: 1;
    }
}

@keyframes cercle {
    0%{
        transform: rotate(0deg);
    }  
    100%{
        transform: rotate(360deg);
    }  
}


.Location {
    @include flex (row,nowrap,center,center);
    font-size: 20px;
    font-weight: bold;
    opacity: .8;
    border: {
        top: 3px solid ;
        color: #e1e1e1;
    }
    
    background-color: $background-grey;
    height: 55px;
    width: 100%;

    .fa-map-marker-alt{
        margin-right: 20px;

    }
}


.Reserve{
    @include flex (column,nowrap,center,none);
    padding-top: 40px;
    height: 350px;
    background-color: $background-greylight;

    .title-Reserve{
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    .text-reserve{
        padding-top: 20px;
        text-align: center;
        opacity: .6;
    }

    .button-Reserve{
        text-align: center;
        margin-top: 30px;
        border-radius: 40px;
        padding: 20px;
        font-size: 20px;
        background: linear-gradient( to bottom , $secondary, $primary);
        font-weight: 400;
        color: $police;
        border: none;
        box-shadow: 4px 3px 5px $shadow-color;
        &:hover{
            @include Effect-btn($background-greylight, $shadow-color, 1);
        }
    }
}

.functioning{
   
    width: 98%;
    background-color: white;
   box-sizing: border-box;
    .title-functioning{
        padding: 20px;
        font-size: 25px;
        font-weight: bold;
    }

    .module-functioning{
        @include flex (column,nowrap,none,none);
        text-align: center;
        width: 100%;
    }

    .Cart-functioning,.Cart1-functioning,.Cart2-functioning {
            // color flexdir flow padding whidth
        @include Cart_Base(#{$background-greylight},row ,nowrap, 30px, 90%);
        margin-left: 25px;
        
        &:hover{
            @include Effect-btn($background-greylight, $shadow-color, 1.04);
        }
    }

    .cart-number{
        position: relative;
        color: $police;
        background-color: $primary;
        border-radius: 40px 40px;
        width: 32px;
        padding: 3px;
        right: 35px;
    }
    .cart-icon {
        @include flex (none,none,center,center);
        position: relative;
        right: 0px;
        color: black;
        opacity: .5;
    } 
    .cart-text {
        @include flex (none,none,center,center);
        color: black;
        width: 100%;
    }
}

.select {
    
   
    margin-top: 40px;
    background-color: $background-greylight;
    
    .title-select{
        padding: 30px;
        font-size: 25px;
        font-weight: bold;
    }

    .module-select{
        @include flex (column,nowrap,none,none);
        width: 100%;
    }
    
    .Cart-select{
    
        @include Cart_Base(#{$background-greylight},column ,nowrap, 0, 95%);
        margin-left: 10px;
        
        .news::after{
            content: 'nouveau';
            position: relative;
            bottom: 140px;
            background-color: $tertiary;
            padding: 7px 17px;
            border-radius: 3px;
            color: $success;
            font-size: 12px;
            font-weight: bold;
            width: 80px;
        }

        &:hover{
            @include Effect-btn($background-greylight, $shadow-color, 1.005);
        }
        .like{
            @include Effect-heart(black,1.2s,linear-gradient( to bottom , $secondary, $primary));
           
            padding-right: 10px;
            font-style: normal;
         }

    }
    
    .Cart1-img,.Cart2-img,.Cart3-img,.Cart4-img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 25px 25px 0 0;
    }

    .Cart-text-module {
        @include flex (column,wrap,flex-start,flex-start);
        width: 100%;
        height: auto;
        padding: 1px 20px;
        color: black;
    }
    .name-select {
        @include flex (row,nowrap,flex-start,space-between);
        margin-top: 5px;
        width: 100%;
        font-weight: bold;
    }

    .desc-selct{
        opacity: 0.7;
        padding-top: 0px;
        font-size: 20px;
    }

    .select-icon{
            
        position: relative;
        color: black;
        opacity: .7;
        bottom: 50px;
        left: 40%;
        font-size: 30px;
        
     }
}



@media all and (min-width: map-get($breakpoints, mobile)) {
    // .Location{
    //     background-color: $background-greydark;
    // }
    .functioning{
        .title-functioning{
            text-align: center;

        }
        .module-functioning{
            @include flex (row,wrap,center,center);
            width: 100%
        }
        .Cart-functioning,.Cart1-functioning,.Cart2-functioning {
            @include Cart_Base(#{$background-greylight},column ,wrap, 0px, 40%);
            border-radius: 100%;
            width: 190px;
            height: 190px;
            padding: 30px;
            margin: 0 50px;
         }
         .cart-number{
            width: 30px;
            padding: 3px;
            bottom: 10px;
            right: 0px;
        }
        .cart-icon{
            padding: 10px;
        }
    }
    .select {
        width: 95%;
        height: auto;
        .module-select{
            @include flex (row,wrap,none,none);
            width: 100%;

        }
        .name-select {
            font-size: 15px;
        }
        .Cart-select{
            margin-left: 4%;
            height: auto;
            width: 45%;
        }

        margin: 10px;

    }


}



@media all and (min-width: map-get($breakpoints, desktop)) {
    // .Location{
    //     background-color: red;
    // }
    .select {
        width: 100%;
        height:  auto;
        margin: 30px 0;
        padding-right: 50px;
        .module-select{
            @include flex (row,nowrap,none,none);
            width: 100%;
        }
  
        
      
        .Cart-select{
            
            .Cart-text-module{
                .name-select{
                    font-size: 17px;
                    padding-top: 10px;
                }
                margin-top: 0px;
                max-height: 51px;
                 .desc-selct{
                    position: relative;
                    top:45px;
                    right: 100%;
                    padding-top: 0px;
                    font-size: 17px; 
                }
                
            }
            .news::after{
                
                bottom: 130px;
            }
            .like {
                padding-top: 20px;
            }
        }
    }
}




