
@import '../Utils/_Utils.scss';

@import '../Utils/_Mixins.scss';

@import '../Utils/Generique.scss';

@import '../Utils/Anim.scss';

main {
    
    background-color: $background-grey;
    .background-img{
        height: 500px;
        img{
            min-height: 490px;
            max-height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.top {
    position: relative;
    margin-top: 0px;
    bottom: 60px;
    height: 20px;
    .fa-arrow-left{
        position: relative;
        font-size: 18px;
        color: black;
        opacity: .8;
        font-weight: bold;
        right: 160px;
        top: 40px;
    }
}

.menu{
    position: relative;
    border-radius: 40px 40px 0 0 ;
    background-color: $background-grey;
    padding-left: 1px;
    height: auto;
    top: -35px;

    .title-menu{            
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        padding:30px 25px;
        font-family: $Font-logo;
        font-size: 30px;
        .like {
            @include Effect-heart(black,1.2s,linear-gradient(to top, $primary,$secondary));
        }
    }

    .title-menu-{
        width: 10%;
        text-transform: uppercase;
        opacity: .7;
        font-size: 20px;
        padding-bottom: 5px;
        padding-top: 20px;
        border: {
            bottom: 3px solid;
            color: $tertiary;
        }
        margin-left:  25px;
    }
    .module-cart-menu {
       padding: 10px 0px;
    }
    .A{
        opacity: 0;
        animation: appar 5s 2s forwards;
    }
    .B{
        opacity: 0;
        animation: appar 5s 2.5s forwards;
    }

    .C{
        opacity: 0;
        animation: appar 5s 3s forwards;
    }

    .cart-menu {
        @include Cart_Base(#{$background-greylight},row ,nowrap, 1px, 93%);
        justify-content: space-between;
        height: 90px;
        color:  black;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
        .alignText-cart-menu{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-left: 20px;
            width: 85%;
        }
        .cart-title-menu{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: bold;
            line-height: 35px;
        }
        .text-cart-menu{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .price-cart-menu{
            padding-right: 15px;
            padding-top: 30px;
            font-weight: bold;
        }
        .check-menu{
            box-sizing: border-box;
            background-color: $tertiary;
            height: 102%;
            margin-right: -6.5rem;
            width: 6rem;
            transition: margin-right 0.5s;
            .fa-check-circle{
                font-size: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: inherit;
                height: inherit;
                color: white;
            }
        }
        
        &:hover .check-menu {
            margin-right: -0.5rem;
            height: 105%;
              .fa-check-circle{
                animation: rotate 1s forwards;
            }
        }

    }

    
    .Command{
        text-align: center;
        padding: 30px 0px 90px 0px;
        
        .button-Command{
            text-align: center;
            border-radius: 40px;
            padding: 20px 70px;
            font-size: 20px;
            background: linear-gradient( to bottom , $secondary, $primary);
            font-weight: 400;
            color: $police;
            border: none;
            box-shadow: 4px 3px 5px $shadow-color;
            &:hover{
                @include Effect-btn($background-greylight, $shadow-color, 1);
            }
        }
    }
}


@media all and (min-width: map-get($breakpoints, mobile)) {
   
   .menu{
        .cart-menu {

            width: 95%;

        }
    }   
}

@media all and (min-width: map-get($breakpoints, desktop)) {

    .menu{
       //background-color: red;
        display: flex;
        flex-flow: column wrap;
        position: relative;
        .title-menu{
            margin: 0 90px 0 50px;

        }
      .module-cart-menu{
          width: 50%;
      }
   
      .title-menu-{
        width: 30px;
      }
      .title-menu-.B{
      visibility: hidden;
        
      }
      .title-menu-.B::after{
        visibility: visible;
        content: 'Plats';
        width: 10px;
        height: 20px;
        color: black;
        position: relative;
        right: 90px;
        bottom: 55px;
      
        }
        .title-menu-.B::before{
            visibility: visible;
            position: relative;
            bottom: 47px;
            left: 2px;
            content: ' ------';
            color: rgba(#000000, 0);
            width: 20px;
            height: 5px;
            border-bottom: 3px solid $tertiary;
        }
      .B{
          position: absolute;
          left: 50%;
          top: 14.3%;
         
      }
      .C{
        position: relative;
        left:25%;
        top: 100%;
         
      }
        
    }
}


